{% extends 'base.html' %}
{% block content %}
<h1>Happy Verse Coffee</h1>
<div class="row">

    {% for store in coffee %}
    <div class="col">

        <div class="card" style="width: 18rem;">
            <img src="{{store.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{store.name}}</h5>
              <p class="card-text">Rs{{store.price}}</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
    </div>
{% endfor %}
{% endblock %}